.login-register {
    .login {
        transition: .3s;
        padding: 50px;
        margin: 5px;
        border-radius: 10px;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 400px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 100px;
        background: transparent;
        background: #fff;
        box-shadow: 4px 4px 30px 1px rgba(128, 128, 128, 0.198);
        &:hover {
            background: #fff;
            box-shadow: 2px 2px 4px .5px rgba(128, 128, 128, 0.198),
                        -1px -1px 4px .5px rgba(128, 128, 128, 0.198);
        }
        h1 {
            text-align: center;
        }
    }
}