<div class="login">
  <form @submit.prevent="loginHandler()" class="login-content">
    <div class="title">
            <h1>Login</h1>
    </div>
    <p>
            Welcome back Login to access the sweet stuffs
            Welcome back Login to access the sweet stuffs

    </p>
    <input required type="email" placeholder="username"> <br>
    <input required type="password" placeholder="username"> <br>
    <button type="submit" class="login-button">
        <i class="large material-icons">account_circle</i>
        CONTINUE
    </button>
  </form>
</div>
